# Build artifacts
build/
target/
out/
dist/
node_modules/
*.jar
*.war

# IDE files
.idea/
.vscode/
*.iml

# Git
.git/
.gitignore
.github/

# Docker files
Dockerfile*
docker-compose*

# Documentation
README.md
docs/

# Logs
logs/
*.log

# Nginx
nginx/default.conf

# 테스트 코드
src/test/


!build/
!build/libs/
!build/libs/ROOT.war
!*.war
