<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.auction_back.auction.AuctionDAO">

    <resultMap id="auctionResultMap" type="com.cloud.auction_back.auction.AuctionDTO">
        <id property="postId" column="postId" />
        <result property="title" column="title" />
        <result property="categoryCode" column="categoryCode"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="createdAt" />
        <result property="postStatus" column="postStatus"/>
        <result property="startDay" column="startDAY"/>
        <result property="endDay" column="endDAY"/>
        <result property="userCode" column="userCode"/>
        <result property="startCash" column="startCash"/>
        <result property="finalCash" column="finalCash"/>
        <result property="usePost" column="usePost"/>
    </resultMap>

    <select id="selectAllAuction" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE usePost = 1;
    </select>


    <select id="antiqueList" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE categoryCode = 'a' and usePost = 1;

    </select>

    <select id="limitedList" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE categoryCode = 'l' and usePost = 1;
    </select>

    <select id="discontinuationList" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE categoryCode = 'd' and usePost = 1;
    </select>

    <select id="artProductList" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE categoryCode = 'ap' and usePost = 1;
    </select>

    <select id="valuablesList" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE categoryCode = 'v' and usePost = 1;
    </select>


    <!-- 상세 조회 -->
    <select id="selectAuctionDetail" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE postId = #{postId};
    </select>

    <!-- 검색 조회 -->
    <select id="selectSearchItems" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE title LIKE CONCAT('%', #{q}, '%')
        AND categoryCode = #{categoryCode} and usePost = 1;
    </select>

    <select id="selectSearchItemsAllCategory" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE title LIKE CONCAT('%', #{q}, '%') and usePost = 1;
    </select>


    <!--    게시글 수정 -->
    <update id="update">
        UPDATE board
        SET
        title = #{title},
        categoryCode = #{categoryCode},
        content = #{content},
        startDAY = #{startDay},
        startCash = #{startCash},
        postStatus = #{postStatus}
        WHERE postId = #{postId}
    </update>

    <!--게시글 삭제-->
    <update id="notUsePost">
        UPDATE board
        SET
        usePost = 0
        WHERE postId = #{postId}
    </update>


    <!--경매품 신청 게시글 승인-->
    <update id="approval">
        UPDATE board
        SET
        postStatus = "off"
        WHERE postId = #{postId}
    </update>


    <!--    라이브 리스트 -->
    <select id="getLiveList" resultMap="auctionResultMap">
        SELECT
        *
        FROM board
        WHERE postStatus = 'on' and usePost = 1;
    </select>

    <!--   on -> done -->
    <update id="setPostStatus">
        UPDATE board
        SET
        postStatus = 'done'
        WHERE postId = #{postId}
    </update>

    <!--    off -> on -->
    <update id="updateLivePost">
        UPDATE board
        SET
        postStatus = 'on'
        WHERE postId = #{postId}
    </update>

    <update id="updatePostAfterLive">
        UPDATE board
        SET
        finalCash = #{finalCash},
        endDay = #{endDay}
        WHERE postId = #{postId}
    </update>

</mapper>