<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.auction_back.requestItem.RequestItemDAO">
    <insert id="insertRequestItem" parameterType="com.cloud.auction_back.requestItem.RequestItemDTO"
            useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO board (
            Title,
            Content,
            StartDAY,
            categoryCode,
            userCode,
            startCash
        ) VALUES (
                     #{title},
                     #{content},
                     #{date},
                     #{categoryCode},
                     #{userCode},
                     #{startCash}
                 )
    </insert>
</mapper>